
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

/* TABLE OF CONTENTS

  1. FONT IMPORTS

  1. GLOBAL STYLES

  2. TYPOGRAPHY

  3. LAYOUT
    3.1 TOP NAV BAR
    3.2 FOOTER
    3.3 SECTIONS
      3.3.1 FLAVOR OF THE DAY
      3.3.2 CUSTOMERS FAVORITES
      3.3.3 ONLINE ORDERS
      3.3.4 INSTAGRAM GRID
      3.3.4 REVIEWS

  4. COMPONENTS
    4.1 BUTTONS

  5. FLEX BOX

*/

/* ---------
    1. GLOBAL STYLES
    ---------
*/

/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */

body {
    font-family: 'Ubuntu', sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    /* background: url('../images/backgrounds/main.jpg') no-repeat center center fixed;
    background-size: cover; */
    background: #fff;
}

li {
  list-style: none;
}

a {
  color: #fff;
  text-decoration: none;
}

/* ---------
    3. LAYOUT
    ---------
*/

.container {
  min-height: 100%;
}

main {
  margin-top: 8%;
}

/* ---------
    3.1 TOP NAV BAR
    ---------
*/

.navbar {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: hsl(190, 39%, 59%);
    width: 100%;
}

.navbar .nav-menu {
    list-style: none;
    float: right;
}

.navbar .nav-item {
    list-style-type: none;
    float: left;
}

.navbar .nav-item .nav-link {
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 20px 40px;
    font-size: 1.25rem;
}

.navbar .nav-item .nav-link:hover {
  background: hsl(144, 26%, 34%);
  border-radius: 5px;
  text-shadow: 1px 1px 1px #000000;
  font-weight: 600;
}

.navbar .logo img {
    width: 15%;
    float: left;
    margin-top: 15px;
    margin-left: 5px;
    padding: 0 20px;
}

/* ---------
    3.2 FOOTER
    ---------
*/

#footer {
  position: relative;
  bottom: 0;
  width: 100%;
  background: hsl(190, 39%, 59%);
}

#footer .column {
  padding: 10px 60px;
}

#footer .logo img  {
  width: 100%;
}

#footer h4,h5 {
  color: #fff;
}

#footer p {
  color: #fff;
}

.covid a {
  color: #fff;
  text-decoration: none;
}

.socials-group {
  display: inline-block;
}

.social-item {
  display: inline-block;
  padding-right: 20px;
  color: #fff;
}

.social-item a {
  color: #fff;
}

.social-item a:hover {
  color: #F39A9D;
}

hr {
  height: 1px;
  background-color: #FFEAEC;
  order: none;
}

/* ---------
    3.3 SECTIONS
    ---------
*/

/* ---------
    3.3.1 FLAVOR OF THE DAY
    ---------
*/

#flavorOfTheDay {
    color: #1d252c;
    text-align: center;
    padding-top: 0.1rem;
    padding-bottom: 2rem;
}

#flavorOfTheDay h1 {
  font-size: 2.5rem;
}

#flavorOfTheDay p {
  color: #000;
  font-size: 2rem;
  font-weight: 900;
}

/* ---------
    3.3.2 CUSTOMERS FAVORITES
    ---------
*/

#favorites {
    color: #1d252c;
    text-align: center;
    padding-top: 0.1rem;
    padding-bottom: 2rem;
}

#favorites h1 {
  font-size: 2.5rem;
}

#favorites h3 {
  font-weight: 900;
  font-size: 26px;
}

#favorites #cherry {
  color:  #000000;
}

#favorites #pc {
  color:  #000000;
}

#favorites #mango {
  color: #000000;
}

/* ---------
    3.3.3 ONLINE ORDERS
    ---------
*/

#onlineOrdering {
  background: hsl(358, 79%, 78%);
  color: #fff;
  text-align: center;
  padding: 10px;
}

.placeOrder {
  background: hsl(354, 100%, 96%);
  color: hsl(330, 6%, 7%);
  padding: 15px 75px;
  border: none;
  border-radius: 5px;
  margin-top: 5px;
  margin-bottom: 10px;
  font-weight: 900;
  font-size: 18px;
  cursor: pointer;
}

.placeOrder:hover {
  background: hsl(190, 39%, 59%);
  color: #fff;
}

/* ---------
    3.3.4 INSTAGRAM GRID
    ---------
*/

.follow {
  background: #F39A9D;
  color: #fff;
  padding: 10px 30px;
  border: none;
  border-radius: 5px;
  margin-top: 1%;
  margin-bottom: 1%;
  margin-left: auto;
  margin-right: auto;
  cursor: pointer;
}

.follow:hover {
  background: hsl(57, 100%, 50%);
  border-radius: 5px;
  text-shadow: 1px 1px 1px #000000;
}

.follow i {
  font-size: 20px;
}

.follow span {
  margin-left: 5px;
  font-size: 16px;
}

#instagramPosts {
    color: #1d252c;
}

#instagramPosts img {
  width: 100%;
  height: 100%;
}

#instagramPosts .header {
  text-align: center;
  height: 20px;
}

.instagram-title {
  display: inline-block;
  position: relative;
  top: 22px;
}

.instagram-handle {
  display: inline-block;
  margin: 20px;
}

.instagram-handle i {
  background: #000;
  color: #fff;
  padding: 8px;
  border-radius: 15px;
  font-size: 20px;
}

.instagram-handle span {
  font-weight: 900;
  font-size: 20px;
}

/* ---------
    3.3.5 REVIEWS
    ---------
*/

#reviews {
  color: #1d252c;
  text-align: center;
}

.reviewCard {
  background:#F39A9D;
  color: #fff;
  min-width: 0;
  margin: 10px;
  text-align: center;
}

.reviewCard#first {
  background: #6DB1BF;
}

.reviewCard#second {
  background: #131112;
}

.reviewCard#third {
  background: #F39A9D;
}

.reviewCard#fourth {
  background: #3F6C51;
}

.reviewCard .header {
  padding: 1% 5%;
}

.reviewCard .header .name {
  font-size: 1.6rem;
}

.reviewCard .body {
  padding: 1% 5%;
  letter-spacing: .1rem;
  font-size: 1.1rem;
  margin-bottom: 10%;
}

.reviewCard .body .quote {
  font-weight: 900;
  font-size: 1.5rem;
}

/* ---------
    3.3.6 MENU
    ---------
*/

#menu {
  color: #1d252c;
  text-align: center;
  padding-top: 0.1rem;
  padding-bottom: 2rem;
}

#menu h1 {
  font-size: 2.5rem;
  color: #131112;
  font-weight: 900;
}

#menu h2 {
  color: #F39A9D;
  font-size: 3.5rem;
  font-weight: 900;
}

#menu h3 {
  color: #3F6C51;
  font-size: 2.5rem;
  font-weight: 700;
}

#menu p {
color: #000;
font-size: 2rem;
font-weight: 900;
}

#menu ul{
  padding: 0 20px;
} 
#menu ul li    {
  width: 150px;
  margin: 0 auto;
  font-size: 1.5rem;
  font-weight: 500;
  padding: 10px 0;
}
/* ---------
    5. FLEX BOX
    ---------
*/

.row>[class^="col-"] {

}

.row {
  display: flex;
  flex-wrap: wrap;
}

/* Responsiveness */

@media (min-width: 320px) { /* for general stylings (both, mobile && desktop) */

}

@media (max-width: 767px) { /* for only styles between 320px and 768px (most mobile devies) */
  #instagramPosts .header {
    height: auto;
  }

  .instagram-title {
    display: block;
    position: static;
  }

  .instagram-handle {
    display: block;
    text-align: center;
  }

  .follow {
    margin-top: 3%;
  }

  header.header {
    text-align: center;
    position: fixed;
    top: 0;
    z-index: 999;
    width: 100%;
  }

  .navbar {
    position: absolute;
    top: 0;
    left: 0;
    background: hsl(190, 39%, 59%);
    width: 100%;
    height: 100vh;
    text-align: left;
    border-radius: 3px solid red;
    display: none;
  }

  .navbar .nav-menu {
      margin: 0;
      padding: 0;
      list-style: none;
  }

  .navbar .nav-item {
      margin-bottom: 1em;
      margin-left: 1em;
  }

  .navbar .nav-item .nav-link {
      display: block;
      color: #fff;
      text-decoration: none;
      padding: 15px 40px;
      font-size: 1.25rem;
      height: 100%;
      width: 200px;
  }

  .navbar .logo img {
    width: 45%;
    margin-top: 15px;
    margin-left: 5px;
    padding: 0 20px;
  }

  .nav-toggle:checked ~ nav {
    display: block;
  }

  .nav-toggle:checked ~ .mobile-nav {
    color: #fff;
  }

  .nav-toggle {
    display: none;
  }

  .mobile-nav {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 30px;
  }

  .nav-toggle-label {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 1em;
    margin-top: .2em;
    cursor: pointer;
  }

  .nav-toggle-label i {
    font-size: 1.5rem;
  }

  .nav-toggle-label span {
    margin-left: .2em;
    font-size: 1.1rem;
    font-weight: 600;
  }
}

@media (min-width: 768px) { /* general desktop && tablet styles if needed */

}

@media (min-width: 768px) and (max-width: 1024px) { /* only tablet styles */

}

@media (min-width: 1025px) { /* start with desktop styling */

}

/* phones */
@media only screen and (min-width: 320px) {
  .col-sm-1 {
    width: 8.33%;
  }

  .col-sm-2 {
    width: 16.66%;
  }

  .col-sm-3 {
    width: 25%;
  }

  .col-sm-4 {
    width: 33.33%;
  }

  .col-sm-5 {
    width: 41.66%;
  }

  .col-sm-6 {
    width: 50%;
  }

  .col-sm-7 {
    width: 58.33%;
  }
  .col-sm-8 {
    width: 66.66%;
  }

  .col-sm-9 {
    width: 75%;
  }

  .col-sm-10 {
    width: 83.33%;
  }

  .col-sm-11 {
    width: 91.66%;
  }

  .col-sm-12 {
    width: 100%;
  }

/* tablets */
@media only screen and (min-width: 768px) {
  .col-md-1 {
    width: 8.33%;
  }

  .col-md-2 {
    width: 16.66%;
  }

  .col-md-3 {
    width: 25%;
  }

  .col-md-4 {
    width: 33.33%;
  }

  .col-md-5 {
    width: 41.66%;
  }

  .col-md-6 {
    flex: 0 0 auto;
    width: 50%;
  }

  .col-md-7 {
    width: 58.33%;
  }
  .col-md-8 {
    width: 66.66%;
  }

  .col-md-9 {
    width: 75%;
  }

  .col-md-10 {
    width: 83.33%;
  }

  .col-md-11 {
    width: 91.66%;
  }

  .col-md-12 {
    width: 100%;
  }
}

@media only screen and (min-width: 992px) {
  .col-lg-1 {
    width: 8.33%;
  }

  .col-lg-2 {
    width: 16.66%;
  }

  .col-lg-3 {
    width: 25%;
  }

  .col-lg-4 {
    width: 33.33%;
  }

  .col-lg-5 {
    width: 41.66%;
  }

  .col-lg-6 {
    width: 50%;
  }

  .col-lg-7 {
    width: 58.33%;
  }
  .col-lg-8 {
    width: 66.66%;
  }

  .col-lg-9 {
    width: 75%;
  }

  .col-lg-10 {
    width: 83.33%;
  }

  .col-lg-11 {
    width: 91.66%;
  }

  .col-lg-12 {
    width: 100%;
  }
}
