body {
    font-family: 'Monsterrat', sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
}

.container {
    min-height: 100%;
}

nav {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    background: hsl(218, 100%, 40%);
    width: 100%;
}

nav ul {
    list-style: none;
    float: right;
}

nav li {
    list-style-type: none;
    float: left;
}

nav li a {
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 20px 40px;
}

nav li a:hover {
  background: hsl(57, 100%, 50%);
  border-radius: 5px;
  text-shadow: 1px 1px 1px #000000;
  font-weight: 600;
}

nav .logo img {
    width: 15%;
    float: left;
    margin-top: 15px;
    margin-left: 5px;
    padding: 0 20px;
}

main {
    margin-top: 8%;
}

#flavorOfTheDay {
    color: #1d252c;
    text-align: center;
}

#flavorOfTheDay p {
  color: hsl(218, 100%, 40%);
  font-size: 2rem;
  font-weight: 900;
}

#favorites {
    color: #1d252c;
    text-align: center;
}

#onlineOrdering {
    background: hsl(218, 100%, 40%);
    color: #fff;
    text-align: center;
    padding: 10px;
}

.follow {
  background: hsl(218, 100%, 40%);
  color: #fff;
  padding: 10px 30px;
  border: none;
  border-radius: 5px;
  margin-top: 5px;
  cursor: pointer;
}

.follow i {
  font-size: 20px;
}

.follow span {
  margin-left: 5px;
  font-size: 16px;
}

.follow:hover {
  background: hsl(57, 100%, 50%);
  border-radius: 5px;
  text-shadow: 1px 1px 1px #000000;
  font-weight: 600;
}

.placeOrder {
  background: hsl(57, 100%, 50%);
  color: hsl(218, 100%, 40%);
  padding: 10px 30px;
  border: none;
  border-radius: 5px;
  margin-top: 5px;
  font-weight: 900;
  font-size: 14px;
  cursor: pointer;
}

.placeOrder:hover {
  background: hsl(218, 99%, 50%);
  color: #fff;
}

#instagramPosts {
    color: #1d252c;
}

#reviews {
    color: #1d252c;
    text-align: center;
}

#footer {
    position: relative;
    bottom: 0;
    width: 100%;
    background: hsl(210, 15%, 95%);
}

#footer .column {
    padding: 10px 60px;
}

#footer .logo img  {
    width: 100%;
}

#footer h4,h5 {
    color: hsl(218, 100%, 40%);
}

#footer p {
    color: hsl(218, 100%, 40%);
}

.covid a {
    color: hsl(218, 100%, 40%);
    text-decoration: none;
}

.socials-group {
    display: inline-block;
}

.social-item {
    display: inline-block;
    padding-right: 20px;
    color: #fff;
}

.social-item a {
    color: hsl(218, 100%, 40%);
}

#instagramPosts .instagram-item {

} 

#instagramPosts img {
  width: 100%;
  height: 100%;
}

.instagram-handle {
  display: inline-block;
  margin: 20px;
}

.instagram-handle i {
  background: #000;
  color: #fff;
  padding: 8px;
  border-radius: 15px;
  font-size: 20px;
}

.instagram-handle span {
  font-weight: 900;
  font-size: 20px;
}

.instagram-title {
  display: inline-block;
  
}

.header {
  text-align: center;
}

#favorites h3 {
  font-weight: 900;
  font-size: 26px;
}

#favorites #cherry {
  color:  hsl(348, 96%, 42%);
}

#favorites #pc {
  color:  hsl(44, 59%, 87%);
  text-shadow: 1px 1px 1px #000000;
}

#favorites #mango {
  color: hsl(41, 89%, 61%);
}

a {
  color: hsl(218, 100%, 40%);
  text-decoration: none;
}

/* ---------
    6. FLEX BOX
    ---------
*/

.row>[class^="col-"] {

}

.row {
  display: flex;
  flex-wrap: wrap;
}

/* Responsiveness */

/* phones */
@media only screen and (min-width: 320px) {
  .col-sm-1 {
    width: 8.33%;
  }

  .col-sm-2 {
    width: 16.66%;
  }

  .col-sm-3 {
    width: 25%;
  }

  .col-sm-4 {
    width: 33.33%;
  }

  .col-sm-5 {
    width: 41.66%;
  }

  .col-sm-6 {
    width: 50%;
  }

  .col-sm-7 {
    width: 58.33%;
  }
  .col-sm-8 {
    width: 66.66%;
  }

  .col-sm-9 {
    width: 75%;
  }

  .col-sm-10 {
    width: 83.33%;
  }

  .col-sm-11 {
    width: 91.66%;
  }

  .col-sm-12 {
    width: 100%;
  }
}

/* tablets */
@media only screen and (min-width: 768px) {
  .col-md-1 {
    width: 8.33%;
  }

  .col-md-2 {
    width: 16.66%;
  }

  .col-md-3 {
    width: 25%;
  }

  .col-md-4 {
    width: 33.33%;
  }

  .col-md-5 {
    width: 41.66%;
  }

  .col-md-6 {
    flex: 0 0 auto;
    width: 50%;
  }

  .col-md-7 {
    width: 58.33%;
  }
  .col-md-8 {
    width: 66.66%;
  }

  .col-md-9 {
    width: 75%;
  }

  .col-md-10 {
    width: 83.33%;
  }

  .col-md-11 {
    width: 91.66%;
  }

  .col-md-12 {
    width: 100%;
  }
}

@media only screen and (min-width: 992px) {
  .col-lg-1 {
    width: 8.33%;
  }

  .col-lg-2 {
    width: 16.66%;
  }

  .col-lg-3 {
    width: 25%;
  }

  .col-lg-4 {
    width: 33.33%;
  }

  .col-lg-5 {
    width: 41.66%;
  }

  .col-lg-6 {
    width: 50%;
  }

  .col-lg-7 {
    width: 58.33%;
  }
  .col-lg-8 {
    width: 66.66%;
  }

  .col-lg-9 {
    width: 75%;
  }

  .col-lg-10 {
    width: 83.33%;
  }

  .col-lg-11 {
    width: 91.66%;
  }

  .col-lg-12 {
    width: 100%;
  }
}
